<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection"
         connectionString="data source=(localdb)\v11.0;initial catalog=Raffles.Data;integrated security=True;AttachDBFilename=|DataDirectory|\Raffles.mdf"
         providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\Development\Samples\Raffles\Raffles.Data\Raffles.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="DatabaseInitializerForType Raffles.Data.AppContext, Raffles.Data" value="Disabled"/>-->
  </appSettings>
</configuration>